<div>
  <% if @user.get_profile_image(250, 250) %>
    <%= link_to image_tag(@user.get_profile_image(250,250)), edit_user_path(@user) %>
    <h10><%= link_to @user.name, edit_user_path(@user) %></h10>
  <% end %>
 
    <h8>投稿一覧</h8>
        <table>
          <% @posts.each do |posts| %>
            <tr>
              <%= link_to image_tag(posts.get_image(100, 100)), post_path %>
              <%= link_to posts.stone_name, post_path %>
            </tr>
          <% end %>
        </table>
    <%= link_to "投稿する", new_post_path %>
    
    <h8>コメント一覧</h8>
        <table>
            
        </table>
    
</div>
    