<h5>編集画面です。</h5>
<%= form_with model: @posts do |post| %>
    <h10>天然石・宝石の名前</h10>
    <%= post.text_field :stone_name %>
    <h10>説明文</h10>
    <%= post.text_area :caption %>
    <%= post.text_field :tag_ids,value: @tags,\
    placeholder: "複数つけるには','(半角)で区切ってください。" %>

    
    <%= post.submit '編集完了' %>

<% end %>