
<div class="container">
    <div class="row">

            

        <div class="col-lg text-center">
            <h3 class="pb-5 pt text-center"><strong>編集画面</strong></h3>
            <%= form_with model: @posts do |post| %>
        
                <div class="col-lg p-4">
                    <label class="text-primary"><h5>天然石・宝石名</h5></label>
                    <div class="px-1"><%= post.text_field :stone_name, size: "30x5" %></div>
                </div>
                <div class="col-lg pb-4">
                    <label class="text-warning"><h5>説明文</h5></label></br>
                    <%= post.text_area :caption, size: "35x5" %>
                </div>
                <div class="col-lg pb-4">
                    <label class="text-secondary"><h5>タグ（",(半角のコンマ)"で複数登録できます。）</h5></label></br>
                    <%= post.text_field :tag_ids, value: @tags, placeholder: "複数つけるには半角スペースで区切ってください。",size: "35x5" %>
                </div>
                <div class="col-lg p-5">
                    <div><%= post.submit '編集完了', class: "btn btn-outline-success" %></div>
                </div>
            <% end %>
        </div>
        
 
    </div>
</div>