<%= search_form_for @search do |f| %>
  <%= f.search_field :stone_name_cont, placeholder: '検索ワード' %>
  <%= f.submit '検索' %>
<% end %>

<% @posts.each do |post| %>
  <table>
    <%= link_to image_tag(post.get_image(200, 200)), post_path(post) %>
    <%= link_to post.stone_name, post_path(post) %>
  </table>
<% end %>
<%= paginate @posts %>