<div>
    <%= image_tag(@posts.get_image(100,100)) %>
    <%= @posts.stone_name %>
    <%= @posts.caption %>
    <p><%= @posts.tags.map(&:tag_name).join('　') %></p>
    
    <%= link_to "編集", edit_post_path(@posts.id), method: :pacth %>
    <%= link_to "削除", post_path(@posts.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    
    
    <% if @posts.favorited_by?(current_user) %>
        <%= link_to post_favorites_path(@posts), method: :delete, class: "nav-link" do %>
        <i class="fa-solid fa-star"></i>
        <% end %>
      <% else %>
        <%= link_to post_favorites_path(@posts), method: :post, class: "nav-link" do %>
        <i class="fa-regular fa-star"></i>
        <% end %>
    <% end %>
    
    
    <p>コメント数:<%= @posts.comment_count %>件</p>
    <% @posts.comments.each do |comments| %>
        <%= image_tag comments.user.get_profile_image(50,50) %>
        <%= comments.user.name %>
        <%= comments.created_at.strftime('%Y/%m/%d') %><br>
        <%= comments.comment %>
        <%= link_to "削除", post_comment_path(comments), method: :delete,  "data-confirm" => "本当に削除しますか？" %>
    <% end %><br>
    <div>
        <%= form_with model: [@posts, @comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメント" %><br>
            <%= f.submit "送信"%>
        <% end %>
    </div>
    
</div>

