<div container>
  <div class="row">
    <div class="col-lg">
      
      
      <div class="col"><h3>全ユーザー一覧</h3></div>
      
        <table>
          <th>
            <td　class="p-4"><strong>ユーザーネーム　-　メールアドレス</strong></td>
          </th>
          <% @users.each do |user| %>
          <tr>
            <td class="p-4"><strong><%= user.name %></strong> - <%= user.email %></td>
            <td class="pl-4"><%= link_to '削除', admins_user_path(user), method: :delete, data: { confirm: 'このユーザーを削除しますか？' }, class: "btn btn-nav-link text-danger " %></td>
          </tr>
          <% end %>
        </table>
        
        <table>
          <% user.comments.each do |comment| %>
          <tr>
            <td class="p-4"><strong>><%= comment.user.name %></strong></td>
            <td class="p-2"><%= comment %></td>
            <td class="pl-4"><%= link_to comment.comment, admins_comment_path(comment.id), method: :delete, data: { confirm: 'このコメントを削除しますか？' },  class: "text-danger " %></td>
          </tr>
          <% end %>
        </table>
      
      
    </div>
  </div>
</div>